html {
    scroll-behavior: smooth;
  }

  body {
    scroll-padding-top: 80px;
  }

  .navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.home-section, .about-section {
  margin: 0;
  padding: 0;
}

