html {
    scroll-behavior: smooth;
  }

  body {
    scroll-padding-top: 80px;
  }

  .navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.home-section, .about-section {
  margin: 0;
  padding: 0;
}

.home-section {
  background-color: #f0f0f0;
  padding: 80px 0;
  text-align: center;
}

.about-section {
  padding: 80px 0;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.rounded-image {
  border-radius: 50%;
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.animate-image {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

.animate-text {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease-in-out;
}

.animate-text.show {
  opacity: 1;
  transform: translateX(0);
}

.animate-skill {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.5s ease-in-out;
}

.animate-image.show {
  opacity: 1;
  transform: translateX(0);
}

.animate-text.show {
  opacity: 1;
}

.animate-skill.show {
  opacity: 1;
  transform: translateY(0);
}

.skills-icons .skill:nth-child(1) {
  transition-delay: 0.2s;
}

.skills-icons .skill:nth-child(2) {
  transition-delay: 0.4s;
}

.skills-icons .skill:nth-child(3) {
  transition-delay: 0.6s;
}

.skills-icons .skill:nth-child(4) {
  transition-delay: 0.8s;
}

.skills-icons .skill:nth-child(5) {
  transition-delay: 1s;
}
